################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DroneSimulator/.vs/DroneSimulator/v15/Server/sqlite3
/DroneSimulator/.vs/DroneSimulator/v15/.suo
/DroneSimulator/Library/ShaderCache
*.log
*.mdb
*.dll
*.info
*.cache
*.log
/DroneSimulator/Library
/DroneSimulator/Drone Simulator_Data
/DroneSimulator/Library/shadercompiler-UnityShaderCompiler.exe0.log
/DroneSimulator/Drone Simulator.exe
/DroneSimulator/Packages/manifest.json
/DroneSimulator/Temp
/DroneSimulator/obj
